body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F3E9DD;
}

.carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    
}