/* link tipografias (google fonts) */
.fuentetexto {
    font-family: "Huninn", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.fuentetitulos {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
/* SOBRE NOSOTROS */
.titulo {
  color: #F3E9DD;
  font-size: 20dvh;
}
.about-us {
  padding: 40px;
  background-color: #c18553;
  color: #F3E9DD;
}
.Nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2dvh;
  border-radius: 1dvh;
  color: #F3E9DD;
  transition: all 0.3s ease;
}
.Nosotros:hover {
  background-color: #895637;
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.Nosotros img {
    display: block;
}
