/* link tipografias (google fonts) */
.fuentetexto {
  font-family: "Huninn", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fuentetitulos {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color:#F3E9DD ;
}
.NavLinks a {
    color: #C18553;
}
.inputbuscar {
  padding: 1.5vh;
  margin: 1vh;
  border-radius: 1vh;
  border: none;
}
.botonesnav {
        text-decoration: none;
        color:#F3E9DD ;
        background-color: #C18553 ;
        padding: 1.5dvh;
        margin: 1dvh;
        border-radius: 1dvh;
}
.botonesnav :hover {
    text-decoration: none;
    color:#C18553 ;
    background-color:#F3E9DD;
    padding: 1.5dvh;
    margin: 1dvh;
    border: 5px, solid,#C18553 ;
    border-radius: 1dvh;
}

